<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915082334678-0e5gal1hc9h7cp708vcna84cj7ms8kcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915082334678-0e5gal1hc9h7cp708vcna84cj7ms8kcn</string>
	<key>API_KEY</key>
	<string>AIzaSyAwsX1RaT3RenWV3nukioDHYeRdkxjyTsE</string>
	<key>GCM_SENDER_ID</key>
	<string>915082334678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sasakura.company.ContinuationIsPower</string>
	<key>PROJECT_ID</key>
	<string>continuation-is-power</string>
	<key>STORAGE_BUCKET</key>
	<string>continuation-is-power.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915082334678:ios:4066083fa78ad80e2e9477</string>
	<key>DATABASE_URL</key>
	<string>https://continuation-is-power.firebaseio.com</string>
</dict>
</plist>